body,
html {
  width: 100%;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
}
.breath {
  -webkit-animation-name: breath;
          animation-name: breath;
}
@-webkit-keyframes breath {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0.5;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes breath {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0.5;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
